[submodule "libff"]
	path = libff
	url = https://github.com/scipr-lab/libff.git

[submodule "mpir"]
	path = mpir
	url = https://github.com/chfast/mpir.git
[submodule "SKALE_PBC"]
	path = pbc
	url = git@github.com:skalenetwork/pbc.git
