[submodule "libff"]
	path = libff
	url = https://github.com/scipr-lab/libff.git

[submodule "mpir"]
	path = mpir
	url = https://github.com/chfast/mpir.git

[submodule "pbc"]
	path = pbc
	url = https://github.com/blynn/pbc
